In [31]:
import pandas as pd
df=pd.read_csv('synthetic_data.csv')
df

    Temp  Pressure   pH Result
0   39.4        33  5.4    Yes
1   38.3        45  5.8    Yes
2   38.4        30  5.3    Yes
3   39.1        40  5.5    Yes
4   37.3        52  5.9    Yes
..   ...       ...  ...    ...
95  36.8        32  4.5     No
96  35.7        32  5.0     No
97  39.4        33  5.4    Yes
98  37.0        44  6.3    Yes
99  35.9        54  6.9    Yes

[100 rows x 4 columns]

In [32]:
X=df.iloc[:,:-1].values

In [33]:
X

array([[39.4, 33. ,  5.4],
       [38.3, 45. ,  5.8],
       [38.4, 30. ,  5.3],
       [39.1, 40. ,  5.5],
       [37.3, 52. ,  5.9],
       [36. , 42. ,  5.2],
       [36.7, 50. ,  6.1],
       [36.4, 43. ,  7. ],
       [40. , 53. ,  7.4],
       [39.9, 54. ,  7. ],
       [37.1, 40. ,  5.3],
       [35.6, 54. ,  6.7],
       [39. , 46. ,  7.1],
       [39.6, 34. ,  5.5],
       [36.5, 45. ,  5.8],
       [37.7, 51. ,  6.4],
       [37.4, 53. ,  6.6],
       [36.9, 40. ,  4.9],
       [35.5, 43. ,  5.5],
       [38.8, 46. ,  6.9],
       [39.3, 38. ,  5.8],
       [39.8, 52. ,  6.1],
       [39.2, 43. ,  6.8],
       [36. , 32. ,  4.1],
       [38.5, 45. ,  5.6],
       [36.8, 40. ,  4.9],
       [37.5, 48. ,  6.7],
       [35.9, 51. ,  5. ],
       [36.9, 30. ,  5. ],
       [35.8, 37. ,  5.9],
       [37.9, 48. ,  7.4],
       [35.9, 35. ,  5.5],
       [37.4, 46. ,  7.5],
       [39.6, 51. ,  7.3],
       [37.4, 54. ,  5.8],
       [37.8, 35. ,  4.6],
       [36. , 30. ,  5.4],
       [36.2, 39. ,  5.8],
       [36.5, 34. ,  5.1],
       [38.3, 30. ,  5.3],
       [38.3, 47. ,  6. ],
       [36.7, 46. ,  6.7],
       [36.7, 54. ,  5.8],
       [39.1, 34. ,  5. ],
       [35.4, 49. ,  7.5],
       [35.1, 30. ,  4.1],
       [37.8, 37. ,  5.7],
       [36.2, 36. ,  5.9],
       [35.5, 44. ,  7.4],
       [37.6, 53. ,  6. ],
       [36.5, 42. ,  5.3],
       [39. , 33. ,  4.6],
       [37.5, 49. ,  6.8],
       [35.4, 42. ,  7.2],
       [39.9, 43. ,  5.5],
       [35.7, 49. ,  6.6],
       [35.3, 36. ,  6.3],
       [36.4, 50. ,  6.5],
       [35. , 36. ,  6.1],
       [39.1, 43. ,  7.2],
       [36.3, 54. ,  5.6],
       [37.6, 51. ,  5.7],
       [37.4, 42. ,  5. ],
       [39.9, 41. ,  7.2],
       [39.4, 39. ,  4.9],
       [39.4, 47. ,  5.3],
       [38.2, 35. ,  5.3],
       [36.9, 46. ,  6.3],
       [36.6, 53. ,  6.8],
       [35.5, 36. ,  4.7],
       [39. , 31. ,  4.5],
       [36.6, 35. ,  4.7],
       [39. , 51. ,  5.8],
       [37.9, 50. ,  5.4],
       [39.1, 37. ,  4.9],
       [39.9, 44. ,  7.3],
       [39. , 30. ,  4.5],
       [35.2, 48. ,  5.6],
       [37. , 36. ,  6.4],
       [35.7, 44. ,  5.2],
       [39.9, 30. ,  4.4],
       [36.4, 38. ,  5.1],
       [36.2, 45. ,  6.8],
       [35.4, 47. ,  6.6],
       [39.9, 52. ,  6.6],
       [35.5, 49. ,  5.7],
       [38.8, 46. ,  7.1],
       [40. , 33. ,  4.4],
       [37.7, 34. ,  4.5],
       [36.3, 42. ,  5.7],
       [38.9, 32. ,  4.9],
       [35. , 32. ,  4.2],
       [38.8, 47. ,  6.2],
       [36.6, 47. ,  6.2],
       [39.5, 47. ,  7. ],
       [36.8, 32. ,  4.5],
       [35.7, 32. ,  5. ],
       [39.4, 33. ,  5.4],
       [37. , 44. ,  6.3],
       [35.9, 54. ,  6.9]])

In [34]:
y=df.iloc[:,-1]
y

0     Yes
1     Yes
2     Yes
3     Yes
4     Yes
     ...
95     No
96     No
97    Yes
98    Yes
99    Yes
Name: Result, Length: 100, dtype: object

In [35]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [36]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [37]:
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [38]:
model.predict([[39,33,6]])

array(['Yes'], dtype=object)

In [39]:
from sklearn.metrics import accuracy_score
ai=accuracy_score(y_pred,y_test)
ai

0.95

In [40]:
import pickle
with open('ai.pkl','wb')as f:
      pickle.dump(model,f)